<h2 class="page-title">Iniciar sesion</h2>

<div class="row">
  <div class="col-lg-10">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :password, 'Contraseña' %><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div class="actions right">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordarme" %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% end %>
        <%= f.submit "Iniciar sesion", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
